.gif-item {
    inline-size: 20rem;
    padding-inline: 2rem;
    background-color: var(--gifItem);
    border-radius: 1rem;
    padding-block-end: 2rem;
}

.gif-item-title {
    color: var(--btnText);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.gif-item-button {
    background-color: var(--btnBg);
    color: var(--btnText);
    border: none;
    font-size: 1rem;
    padding-inline: .75rem;
    padding-block: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.gif-item-gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.gif-item-gifs img {
    inline-size: 100%;
    display: block;
    border-radius: 1rem;
}

.loader {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    display: inline-grid;
    color: var(--btnText);
    padding: 2rem;
}

.loader:before,
.loader:after {
    content: "Loading...";
    grid-area: 1/1;
    -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
    animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loader:after {
    -webkit-mask-position: 1ch 50%;
    --s: -1;
}

@keyframes l11 {
    100% {
        transform: translateY(calc(var(--s, 1)*0.1%));
    }
}